In [98]:
import pandas as pd

In [99]:
df = pd.read_csv("Heart.csv")

In [100]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [101]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [102]:
df = df.dropna()

In [103]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [104]:
df = df.drop(["Unnamed: 0"],1)

In [105]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [71]:
df.shape

(297, 14)

In [106]:
df["AHD"].value_counts()

No     160
Yes    137
Name: AHD, dtype: int64

In [107]:
import numpy as np
numerical = df.select_dtypes(include = np.number)
nonnumerical = df.select_dtypes(exclude = np.number)
nonnumerical["Ca"] = numerical["Ca"]
numerical = numerical.drop(["Ca"],1)

/Users/Arunabh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [108]:
from sklearn.preprocessing import MinMaxScaler

In [109]:
cols = list(numerical)

In [110]:
cols

['Age',
 'Sex',
 'RestBP',
 'Chol',
 'Fbs',
 'RestECG',
 'MaxHR',
 'ExAng',
 'Oldpeak',
 'Slope']

In [111]:
scaler = MinMaxScaler()

In [112]:
numerical = scaler.fit_transform(numerical)

/Users/Arunabh/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [113]:
numerical = pd.DataFrame(numerical)

In [114]:
numerical.columns = cols

(297, 4)

In [118]:
from sklearn.preprocessing import LabelEncoder

In [119]:
le = LabelEncoder()

In [120]:
for x in list(nonnumerical.iloc[:,:-1]):
    nonnumerical[x] = le.fit_transform(nonnumerical[x])

/Users/Arunabh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [124]:
nonnumerical.isnull().sum()

ChestPain    0
Thal         0
AHD          0
Ca           0
dtype: int64

In [125]:
df = pd.concat([numerical,nonnumerical],1)

In [129]:
df = df.dropna()

In [131]:
df.isnull().sum()

Age          0
Sex          0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
ChestPain    0
Thal         0
AHD          0
Ca           0
dtype: int64

In [132]:
y = df["AHD"]
X = df.drop(["AHD"],1)

In [133]:
from sklearn.tree import DecisionTreeClassifier

In [134]:
dtc = DecisionTreeClassifier()
from sklearn.model_selection import train_test_split as tts

In [135]:
X_train, X_test, y_train, y_test = tts(X,y, test_size = 0.2, random_state = 42)

In [137]:
dtc.fit(X_train,y_train)
y_pred = dtc.predict(X_test)

In [138]:
from sklearn.metrics import accuracy_score

In [139]:
accuracy_score(y_test,y_pred)

0.6949152542372882

In [140]:
import os

In [141]:
os.getcwd()

'/Users/Arunabh/Downloads/datasets-for-isrl'